{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = '{% static "style.css"%}'>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body>

    <header>

            <h1><font color="#FFFAFA">
                                Регистрация
            </font></h1>
            <img src = '{% static "img/UrbanStile3.png" %}' alt="logo">

    </header>

    <form method="post">
        {% csrf_token %}
        <p><label for="username">Ваше имя:</label>
        <input type="text" id="username" name="username" maxlength="30" required></p>

        <p><label for="password">Введите пароль:</label>
        <input type="password" id="password" name="password" minlength="8" required></p>

        <p><label for="repeat_password">Повторите пароль:</label>
        <input type="password" id="repeat_password" name="repeat_password" minlength="8" required></p>

        <p><label for="age">Введите свой возраст:</label>
        <input type="number" id="age" name="age" min="1" maxlength="3" required></p>


        <button type="submit">Зарегистрироваться</button>

        <p><strong>{{error}}</strong></p>
    </form>


    <footer>
            <button onclick="document.location='/platform'">
                Главная страница
            </button>
    </footer>

</body>
</html>